# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Upload Files
uploads/

# Generated Reports
reports/

# Temporary Files
temp/

# Environment File
.env

# VS Code
.vscode/

# PyCharm
.idea/